#sidebar {
    position: flex;
    background-color: #3e78b1;
    width: 25%;
    margin-left: -10%;
    margin-top: -46%;
    padding-top: 50%;
}

#sidebar ul li{
	margin-top: -1%;
	padding: 15% 10%;
}

#sidebar img{
	width: 80%;
	height: 30%;
	padding-bottom: 10%;
	margin-left: 12%;

